@import "../../../variables.scss";

ul {
  li {
    :hover {
      transition: 1.2s;
      background-color: #399e0d77;
      color: white;
    }
  }
}

.active {
  color: $global-emphasis-color;
  background: $box-border-shine;
  border-bottom: 1px solid $global-emphasis-color;
}

@media screen and (min-width: 962px) {
  .nav-mobile {
    visibility: hidden;
  }
}

@media screen and (max-width: 962px) {
  .nav-desk {
    display: none;
  }
  .nav-mobile {
    display: contents;
  }
}
