@import '../../../variables.scss';

.main {
  .overlay {
    background-color: rgba(0, 0, 0, 0.301);
    text-align: center;
    display: grid;
    grid-template-rows: 6fr 2fr;
    padding: 0;
    .main-overlay-content {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      align-items: center;
      img {
        justify-items: center;
        align-items: center;
      }
      .text {
        justify-items: center;
        align-items: center;
        h2 {
          font-size: 30px;
          color: $global-alternative-color;
          margin: 5px;
        }
        h1 {
          font-size: 50px;
          color: $global-alternative-color;
          margin: 5px;
        }
        p {
          color: #b8f781;
          margin: 5px;
        }
      }
    }
    .hat-button {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      .hat-info {
        justify-self: center;
        max-width: 300px;
        h3 {
          color: $global-link-color;
        }
        p {
          color: #b8f781;
        }
      }
    }
  }
  .main-blocs {
    display: grid;
    justify-self: center;
    align-items: center;
    margin: 50px 10px;
  }
  .main-button {
    display: grid;
    justify-items: center;
    margin: 70px 10px;
    .main-button-content {
      max-width: 1200px;
      padding: 5px;
    }
    .main-slider {
      max-width: 1200px;
      padding: 50px;
    }
  }
}

@media screen and (max-width: 740px) {
  .main {
    .overlay {
      grid-template-rows: 1fr;
      .main-overlay-content {
        grid-template-columns: 1fr;
        img {
          width: 200px;
        }
        h2 {
          font-size: 10px;
        }
        h1 {
          font-size: 15px;
        }
      }
      .hat-button {
        display: none;
      }
    }
  }
}
