@import "../../variables.scss";

.user {
  display: grid;
  grid-template-columns: 1fr 5fr;
  max-width: max($numbers: 250px);
  span {
    width: 50px;
  }
  .data {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-left: 10px;
    p {
      margin: 0;
      color: #1d8d0169;
    }
    h6 {
      margin-bottom: 0;
      font-size: 18px;
    }
  }
  text-decoration: none;
}
