@import '../../variables.scss';

.footer {
  min-height: 200px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  background: linear-gradient(
    0deg,
    rgba(28, 222, 41, 0.3083372997636554) 32%,
    rgba(28, 222, 41, 0.04503197763480393) 100%
  );
  border-bottom: solid 5px $global-border;
  .footer-top {
    padding: 10px;
    h4 {
      margin: 0;
    }
  }
  .footer-button {
    display: grid;
    align-items: center;
    justify-self: center;
    .footer-icons {
      display: grid;
      align-items: center;
      justify-self: center;
    }

    .footer-text-links {
      display: flex;
      flex-flow: wrap row;
      justify-content: space-around;
      padding: 5px;
      a {
        padding: 5px;
      }
    }
  }
}

@media screen and (max-width: 962px) {
  .footer {
    grid-template-rows: 1fr 3fr;
    .footer-button {
      .footer-text-links {
        flex-flow: column wrap;
        text-align: center;
      }
    }
  }
}
