$global-primary-background: #389e0d;
$global-success-background: #a0d911;
$global-emphasis-color: #092b00;
$global-color: #092b00;
$global-muted-color: #389e0d;
$global-border: #399e0d80;
$global-medium-box-shadow: 0 5px 15px #399e0d6e;
$global-link-hover-color: #389e0d;
$global-link-color: #389e0d;

// $lightbox-item-color: rgba(255, 0, 0, 0.7);
// $dragover-box-shadow: #389e0d;
// $lightbox-item-color: rgba(255, 0, 0, 0.7);
// $lightbox-toolbar-background: rgba(255, 0, 0, 0.3);
// $tooltip-background: rgb(255, 0, 0);
// $dragover-box-shadow: 0 0 20px rgba(255, 0, 0, 0.3);

// $global-large-box-shadow: 0 14px 25px rgba(255, 0, 0, 0.6);
// $global-xlarge-box-shadow: 0 28px 50px rgba(255, 0, 0, 0.6);
// $global-small-box-shadow: 0 2px 8px rgba(255, 0, 0, 0.8);
