@import '../../variables.scss';

.news-card {
  color: $global-color;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 10px;
  margin-left: 10px;
  .news-card-detail {
    border-top: $global-color solid 1px;
    max-height: 40px;
    margin-top: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: flex-end;
    #create-news {
      display: grid;
      justify-self: flex-end;
    }
    #author-news {
      display: grid;
      justify-self: center;
    }
  }
  .read-news {
    display: grid;
    .images-news {
      max-width: 50px;
      justify-self: center;
      .image-news {
        margin: 3px;
        height: 50px;
      }
    }
    .read-more {
      background-color: rgba(255, 255, 255, 0.765);
      height: 100%;
      font-size: 20px;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    :hover {
      color: rgb(21, 255, 0);
      background: radial-gradient(
        circle,
        rgba(56, 158, 13, 0.4) 0%,
        rgba(255, 255, 255, 0.8) 80%
      );
    }
  }
}
