@import "../../variables.scss";

.auth {
  display: grid;
  grid-template-columns: 4fr 6fr;
  margin-top: 70px;
  .form-box {
    justify-items: center;
    justify-self: center;
    width: 400px;
  }
  .information {
    display: grid;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 40px;
    .content-auth {
      justify-items: center;
      justify-self: center;
      text-align: center;
      height: 100%;
      img {
        width: 180px;
      }
      h2 {
        display: grid;
        color: $global-primary-background;
        justify-items: center;
        justify-self: center;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .auth {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    img {
      padding-top: 50px;
    }
  }
}
