@import '../../../variables.scss';

.news {
  margin-top: 50px;
  background-color: white;
  display: grid;
  justify-items: center;
  .find-news {
    display: flex;
    justify-content: flex-start;
    padding: 5px;

    .news-search {
      justify-content: flex-end;
    }
  }
  .news-list {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
}
